{% extends 'CoreLuckyBundle::layout.html.twig' %}

{% block title %}Lucky home{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
	<div class="col-xs-6">
		<div id='block_video'>
			<img id='video_lucky' src='/img/zaglushka.png' onClick='javascript: videoPlay("5NeK24ebCQI");'>
		</div>
		<br/>
		<div id="block_description">
			Тут описание...
		</div>
	</div>
	<div class="col-xs-6">
		{% include 'CoreLuckyBundle:Form:start.html.twig' with {'form': form} %}
		<div id="list_lucky_beggars">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Номер участника</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2635645</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clear_hide"></div>
{% endblock %}
